.swipe {
  overflow: hidden;
  visibility: visible;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


.image {
  display: block;
  box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
  margin: 0 10px;
  border-radius: 5px;
  height: inherit;
}

.wrap {
  max-width: 640px;
  height: 360px;
  display: block;
  margin: 20px auto 15px;
  position: relative;
}

figure{
  display: block;
}

.swipe-wrap > figure {
  float: left;
  position: relative;
}

.info-slider{
  width:100%;
  height: 80px;
  background: #000;
  color: white;
  opacity: .40;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
}


.link-image{
  text-transform: none;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0;
  position: relative;
  float: right;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
}

.slider-button{
  color:  white;
  font-size: 40px;
}
