.swipe {
  overflow: hidden;
  visibility: visible;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


.image {
  display: block;
  box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
  margin: 0 10px;
  border-radius: 5px;
  height: inherit;
}

.wrap {
  max-width: 750px;
  height: 385px;
  display: block;
  margin: 20px auto 15px;
  position: relative;
}

figure{
  display: block;
}

.swipe-wrap > figure {
  float: left;
  position: relative;
}

.info-slider{
  width:100%;
  height: 150px;
  background: #000;
  color: white;
  opacity: .40;
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
}


.link-image{
  text-transform: none;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0;
  position: relative;
  float: right;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
}

.slider-button{
  color:  white;
  font-size: 20px;
  cursor: pointer;
}

.slider-button:hover{
  color: #bed3d8;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 960px) {

  .image{
  display: block;
  box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
  margin: 0 10px;
  border-radius: 5px;
  height: 300px;
  width: auto
  }
}

@media only screen and (max-width : 470px){

.image{
  display: block;
  box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
  margin: 0 10px;
  border-radius: 5px;
  height: 300px;
  width: auto
  }
}
